{% extends 'base_jobs_detail.html' %}


{% block jobs_detail %}
<div class="container"><br>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column"></div>
        <div class="bd-code-snippet">
            <h1>{{ job.summary }}</h1>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="{{ job.image.url }}">
                    <div class="card-body">
                        <p class="card-text">
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  {% endblock %}
